body{
  background-color: rgba(254, 164, 200, 0.63);
}

p{
  font-family: Arial, Helvetica, sans-serif;
  font-size:larger;
  font-weight:bold;
  color: black;
  text-align:center;
}

.navbar {
  background-color: #3498db;
  padding: 10px;
}

.navbar-brand {
  color:black;
  font-size: 1.8rem;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}

.navbar-brand:hover{
  color:blueviolet ;
}

.navbar-nav {
  margin-left: auto;
}

.nav-item {
  margin-right: 10px;
}

.nav-link {
  color: black;
  font-size: 1.5rem;
}

.nav-link:hover {
  color:blueviolet;
  background-color: lightgreen;
}

